html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	font-family: "font-name", sans-serif;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

header {
	height: 113px;
	max-width: 1440px;
	display: flex;
	flex-direction: column;
}

li {
	display: inline;
	padding: 15px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;

	color: #002051;
}

.header_nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header_item {
	padding-left: 79px;
	padding-top: 20px;
}

.header-number {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	padding-right: 94px;
	padding-top: 20px;
	text-align: right;

	color: #002051;
}

.header-logo {
	display: flex;
	flex-direction: row;
}

.logo {
	padding-left: 95px;
	padding-top: 29px;
}

.header_btn {
	margin-left: 30px;
	margin-top: 20px;
	align-items: center;
	width: 127px;
	height: 40px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;

	background: #002051;
	border-radius: 2px;
}

.header_search {
	width: 813px;
	height: 40px;
	align-items: flex-start;
	border: 1px solid #002051;
	box-sizing: border-box;
	border-radius: 4px;
	background: url();
	margin-left: 26px;
	margin-top: 20px;
	padding-left: 26px;
}

.header_person {
	margin-top: 28px;
	margin-left: 37px;
}

.header_basket {
	margin-top: 28px;
	margin-left: 40px;
	margin-right: 97px;
}

.line {
	position: absolute;
	width: 1440px;
	height: 1px;
	left: 0px;
	top: 113px;

	background: #eaf9fc;
}

.catalog {
	width: 752px;
	height: 23px;
	margin-left: 94px;
	margin-top: 39px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #002051;
}

.catalog_color {
	color: #99a6b9;
}

.screw_price {
	display: flex;
	flex-direction: row;
}

.screw_size {
	margin-left: 94px;
	margin-top: 40px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #002051;
}

.article {
	padding-left: 94px;
	padding-top: 10px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #002051;
}

.screw {
	padding-left: 201px;
	padding-top: 40px;
	width: 503px;
	height: 503px;
}

.screw_description {
	margin-left: 139px;
	width: 433px;
	height: 465px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
	border-radius: 2px;
}

.model {
	margin-left: 20px;
	margin-top: 20px;

	width: 156px;
	height: 23px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;

	color: #002051;
}

.btn_blades {
	display: flex;
	flex-direction: row;
	width: 297px;
	height: 50px;
	margin-left: 20px;
	margin-top: 20px;
}

.btn_three_blades {
	width: 138px;
	height: 50px;

	background: #002051;
	border-radius: 2px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #ffffff;
}

.btn_four_blades {
	margin-left: 20px;
	width: 139px;
	height: 50px;
	border: 1px solid #002051;
	box-sizing: border-box;
	border-radius: 2px;

	background-color: #ffffff;

	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #002051;
}

.description {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-top: 40px;
}

.description_OEM,
.manufacturer,
.brand_skipper,
.structure {
	display: flex;
	flex-direction: row;
}

.oem,
.producer,
.brand,
.material {
	margin-top: 10px;
	width: 257px;
	height: 23px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #99a6b9;
}

.oem_number,
.producer_name,
.brand_name,
.structure_al {
	margin-top: 10px;
	width: 136px;
	height: 23px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #002051;
}

.price {
	margin-top: 40px;
	width: 199px;
	height: 40px;
	display: flex;
	flex-direction: row;
}

.first_price {
	margin-left: 20px;
	height: 40px;
	width: 122px;
	font-weight: 500;
	font-size: 32px;
	line-height: 39px;
	color: #de2f46;
}

.second_price {
	height: 20px;
	width: 57px;
	left: 142px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	text-decoration-line: line-through;
	color: #99a6b9;
}

.btn_inBasket {
	margin-left: 20px;
	margin-top: 40px;
	width: 157px;
	height: 50px;
	background: #b70f25;
	border-radius: 2px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #ffffff;
}

.characteristics_name {
	margin-left: 94px;
	margin-top: 100px;
	height: 30px;
	width: 176px;
}

.name {
	width: 156px;
	height: 23px;
	margin-left: 10px;
	padding-left: 10px;
	/* font-family: Montserrat;
	font-style: normal;
	font-weight: 500; */
	font-size: 18px;
	/* line-height: 22px; */
	color: #002051;
}

.line {
	position: static;
	width: 176px;
	height: 2px;
	left: 0px;
	top: 28px;
	background: #002051;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin: 0px 0px;
}

.characteristics {
	width: 848px;
	height: 155px;
	display: flex;
	flex-direction: row;
	margin-left: 94px;
	margin-top: 35px;
}

.block_one,
.block_two {
	height: 100%;
	width: 424px;
	display: flex;
	flex-direction: row;
}

.block_one_oem,
.block_one_producer,
.block_one_brand,
.block_one_quantity,
.block_one_material {
	width: 250px;
	height: 23px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #99a6b9;
}

.value_oem,
.value_producer,
.value_brand,
.value_quantity,
.value_material {
	width: 83px;
	height: 23px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #002051;
}

.block_two_diameter,
.block_two_power,
.block_two_step,
.block_two_type,
.block_two_landing {
	width: 250px;
	height: 23px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #99a6b9;
}

.value_diameter,
.value_power,
.value_step,
.value_type,
.value_landing {
	width: 83px;
	height: 23px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #002051;
}

.applying {
	margin-left: 94px;
	margin-top: 40px;
	width: 132px;
	height: 21px;
	font-family: Halvar Breitschrift;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #002051;
}

.motors {
	display: flex;
	flex-direction: column;
	margin-left: 94px;
	margin-top: 22px;
	width: 440px;
	height: 56px;
}

.motors_steps {
	display: flex;
	flex-direction: row;
}

footer {
	/* width: 1440px; */
	height: 458px;
	margin-top: 115px;
	background: #002051;
}

.group {
	margin-left: 201px;
	padding-top: 87px;
}

.group_consultation {
	height: 30px;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #ffffff;
}

.group_answer {
	margin-top: 28px;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
}

.group_name_number {
	display: flex;
	flex-direction: row;
}

.group_name {
	margin-top: 55px;
	/* display: flex;
	flex-direction: row; */
	width: 396px;
	border: 1px solid #99a6b9;
	background-color: #002051;
}

.group_number {
	/* margin-top: 55px; */
	/* display: flex;
	flex-direction: row; */
	width: 396px;
	border: 1px solid #99a6b9;
	background-color: #002051;
}

.group_btn {
	margin-top: 55px;
	width: 820px;
	height: 50px;
	background: #ffffff;
	border-radius: 2px;
}
