html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: "Montserrat Subrayada", sans-serif;

	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

header {
	height: 113px;
	max-width: 1440px;
	display: flex;
	flex-direction: column;
}

li {
	display: inline;
	margin-left: 16px;
	font-size: 17px;
	line-height: 22px;
	color: #002051;
	cursor: pointer;
}

li:hover,
li:active {
	display: inline;
	font-size: 17px;
	line-height: 22px;
	color: #0aaedd;
	cursor: pointer;
}

.btn::-moz-focus-inner {
	border: none;
}

button {
	outline: none;
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

input {
	padding: 0;
	margin: 0;
	border: 0;
	border: none;
	outline: none;
	-webkit-appearance: none;
	color: #ffffff;
}

.wrapper {
	width: 1440px;
	height: 1864px;
}

.header_nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header_item {
	padding-left: 78px;
	padding-top: 19px;
}

.header-number {
	font-family: Montserrat;
	font-weight: bold;
	margin-right: 100px;
	font-size: 16px;
	line-height: 22px;
	padding-top: 19px;
	text-align: right;
	color: #002051;
}

.header-logo {
	display: flex;
	flex-direction: row;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 95px;
	margin-top: 18px;
}

.logo_wr {
	display: flex;
	flex-direction: row;
}

.logo_m {
	margin-left: 4px;
}

.logo_r {
	margin-left: -6px;
}

.logo_u {
	margin-left: -5px;
}

.logo_p {
	margin-top: 5px;
	margin-left: 3px;
}

.logo_ump {
	display: flex;
	margin-left: 8px;
}

.header_btn {
	margin-left: 29px;
	margin-top: 22px;
	padding-left: 29px;
	width: 127px;
	height: 40px;
	font-size: 17px;
	color: #ffffff;
	border-radius: 2px;
	background: url(./img/smailButton.svg) no-repeat 17px;
	background-color: #002051;
}

.header_search {
	width: 813px;
	height: 40px;
	border: 1px solid #002051;
	border-radius: 4px;
	background: url(./img/search.svg) no-repeat  778px;
	margin-left: 26px;
	margin-top: 22px;
	padding-left: 20px;
	font-size: 18px;
	color: black;
}

.header_person {
	margin-top: 29px;
	margin-left: 36px;
}

.header_btn_basket {
	margin-top: 20px;
}

.btn_basket {
	height: 27px;
	width: 28px;
	padding-left: 12px;
	padding-bottom: 8px;
	margin-top: 8px;
	margin-left: 38px;
	background: url(./img/basket.svg) no-repeat 2px;
}

.header_line {
	margin-top: 10px;
	width: 1440px;
	height: 1px;
	background: #eaf9fc;
}

.catalog {
	margin-left: 96px;
	margin-top: 38px;
	line-height: 22px;
	color: #002051;
	font-size: 18px;
}

.catalog_color {
	font-size: 17px;
	color: #99a6b9;
}

.screw_price {
	display: flex;
	flex-direction: row;
}

.screw_size {
	margin-left: 94px;
	margin-top: 42px;
	font-weight: bold;
	font-size: 26px;
	line-height: 29px;
	color: #002051;
}

.article {
	padding-left: 94px;
	padding-top: 21px;
	font-size: 18px;
	line-height: 22px;
	color: #002051;
}

.screw {
	margin-left: 180px;
	margin-top: 30px;
	width: 503px;
	height: 503px;
}

.screw_description {
	margin-top: -10px;
	margin-left: 139px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
	border-radius: 2px;
}

.model {
	margin-left: 22px;
	margin-top: 61px;
	font-size: 16px;
	line-height: 22px;
	color: #002051;
}

.btn_blades {
	display: flex;
	height: 50px;
	margin-left: 21px;
	margin-top: 21px;
}

.btn_three_blades {
	width: 140px;
	background: #002051;
	border-radius: 2px;
	font-size: 18px;
	line-height: 22px;
	color: #ffffff;
}

.btn_four_blades {
	width: 140px;
	background: #002051;
	border-radius: 2px;
	font-size: 18px;
	line-height: 22px;
	color: #ffffff;
	margin-left: 17px;
}

.btn_four_blades:hover,
.btn_four_blades:focus,
.btn_three_blades:hover,
.btn_three_blades:focus {
	width: 140px;
	border: 1px solid #002051;
	border-radius: 2px;
	background-color: #ffffff;
	font-size: 18px;
	color: #002051;
}

.description {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-top: 30px;
}

.description_OEM,
.manufacturer,
.brand_skipper,
.structure {
	display: flex;
	flex-direction: row;
}

.oem,
.producer,
.brand,
.material {
	margin-top: 10px;
	width: 257px;
	font-size: 16px;
	line-height: 22px;
	color: #99a6b9;
}

.oem_number,
.producer_name,
.brand_name,
.structure_al {
	margin-top: 10px;
	width: 136px;
	height: 23px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #002051;
}

.price {
	margin-top: 40px;
	display: flex;
}

.first_price {
	margin-left: 20px;
	width: 122px;
	font-size: 40px;
	line-height: 39px;
	color: #de2f46;
}

.second_price {
	margin-left: 20px;
	text-decoration-line: line-through;
	color: #99a6b9;
}

.btn_inBasket {
	margin-left: 20px;
	margin-top: 40px;
	width: 157px;
	height: 50px;
	background: #b70f25;
	border-radius: 2px;
	font-weight: bold;
	font-size: 19px;
	color: #ffffff;
}

.btn_inBasket:hover,
.btn_inBasket:active {
	margin-left: 20px;
	margin-top: 40px;
	width: 157px;
	height: 50px;
	background: #ffffff;
	border: 1px solid #b70f25;
	border-radius: 2px;
	font-weight: bold;
	font-size: 20px;
	color: #b70f25;
}

.characteristics_name {
	margin-left: 94px;
	margin-top: 97px;
	height: 30px;
	width: 176px;
}

.name {
	padding-top: 4px;
	height: 23px;
	margin-left: 10px;
	font-size: 21px;
	color: #002051;
}

.line {
	margin-top: 9px;
	height: 2px;
	background: #002051;
}

.characteristics {
	height: 155px;
	display: flex;
	flex-direction: row;
	margin-left: 94px;
	margin-top: 31px;
}

.block_one,
.block_two {
	height: 100%;
	width: 424px;
	display: flex;
	flex-direction: row;
}

.block_one_oem,
.block_one_producer,
.block_one_brand,
.block_one_quantity,
.block_one_material {
	margin-top: 8px;
	width: 250px;
	height: 23px;
	font-size: 20px;
	color: #99a6b9;
}

.value_oem,
.value_producer,
.value_brand,
.value_quantity,
.value_material {
	margin-top: 8px;
	height: 23px;
	font-size: 19px;
	color: #002051;
}

.block_two_diameter,
.block_two_power,
.block_two_step,
.block_two_type,
.block_two_landing {
	margin-left: 80px;
	margin-top: 8px;
	width: 250px;
	height: 23px;
	font-size: 20px;
	color: #99a6b9;
}

.value_diameter,
.value_power,
.value_step,
.value_type,
.value_landing {
	width: 190px;
	margin-top: 8px;
	height: 23px;
	font-size: 19px;
	color: #002051;
}

.applying {
	margin-left: 94px;
	margin-top: 48px;
	font-size: 22px;
	line-height: 21px;
	color: #002051;
}

.motors {
	margin-left: 94px;
	margin-top: 20px;
}

.motors_steps {
	display: flex;
	flex-direction: row;
}

.four_steps {
	font-size: 18px;
	color: #002051;
}

.two_steps {
	margin-top: 11px;
	font-size: 18px;
	color: #002051;
}

.load_code {
	margin-left: 48px;
}

.load_code_item {
	text-decoration-line: underline;
	margin-left: 0;
}

.load_code__two_steps {
	margin-left: 30px;
	margin-top: 10px;
	text-decoration-line: underline;
	color: #002051;
}

footer {
	width: 1440px;
	height: 458px;
	margin-top: 119px;
	background: #002051;
}

.group {
	margin-left: 201px;
	padding-top: 87px;
}

.group_consultation {
	font-weight: bold;
	font-size: 26px;
	line-height: 29px;
	color: #ffffff;
}

.group_answer {
	margin-top: 28px;
	font-size: 18px;
	line-height: 22px;
	color: #ffffff;
}

.group__name_number {
	display: flex;
	flex-direction: row;
}

.phone_number {
	margin-top: 33px;
	margin-left: 425px;
	height: 13px;
	font-size: 11px;
	color: #99a6b9;
}

.group_name {
	height: 30px;
	width: 396px;
	border-bottom: 1px solid #99a6b9;
	background-color: #002051;
	font-size: 17px;
}

.group_number {
	height: 30px;
	margin-left: 28px;
	width: 396px;
	border-bottom: 1px solid #99a6b9;
	background-color: #002051;
	font-size: 17px;
}

.group_btn {
	margin-top: 55px;
	width: 820px;
	height: 50px;
	background: #ffffff;
	border-radius: 2px;
	font-size: 18px;
	line-height: 20px;
	color: #002051;
}

.group_btn:hover,
.group_btn:active {
	margin-top: 55px;
	width: 820px;
	height: 50px;
	background: #002051;
	border: 1px solid #ffffff;
	border-radius: 2px;
	font-size: 18px;
	line-height: 20px;
	color: #ffffff;
}

.myModal {
	display: none;
	width: 1440px;
	height: 100%;
	background-color: #bbbbbb;
}

.modal_window {
	/* display: none; */
	position: fixed;
	width: 595px;
	height: 400px;
	z-index: 1;
	overflow: auto;
	margin-top: 14px;
	margin-left: 25px;
	background: rgb(255, 255, 255);
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
	border-radius: 2px;
}

.modal_window_description {
	width: 555px;
	height: 360px;
	margin-top: 20px;
	margin-left: 20px;
}

.modal_window__name {
	display: flex;
	flex-direction: row;
}

.name_basket {
	font-size: 28px;
	font-weight: bold;
}

.name_price {
	margin-top: 8px;
	margin-left: 10px;
}

.modal_screw {
	height: 100px;
	display: flex;
	flex-direction: row;
	margin-top: 40px;
}

.screw_name {
	margin-top: 3px;
	margin-left: 20px;
	font-size: 14px;
	color: #002051;
}

.second_screw_price {
	margin-left: 9px;
}

.screw_price {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	margin-left: 20px;
}

.available {
	margin-top: 15px;
	margin-left: 20px;
	font-size: 17px;
}

.modal_basket {
	margin-top: 5px;
	margin-left: 105px;
	color: #002051;
}

.modal_secondary {
	margin-top: 16px;
	margin-left: 30px;
}

.modal_filter {
	margin-top: 20px;
	height: 100px;
	display: flex;
	flex-direction: row;
}

.fuel_filter {
	margin-left: 20px;
	font-size: 15px;
	color: #002051;
}

.filter_price {
	margin-top: 12px;
	margin-left: 20px;
}

.filter_available {
	margin-top: 12px;
	margin-left: 20px;
	font-size: 17px;
	color: #002051;
}

.filter_basket {
	margin-top: 5px;
	margin-left: 190px;
}
.filter_secondary {
	margin-top: 17px;
	margin-left: 115px;
}

.modal_btn {
	margin-top: 20px;
	width: 555px;
	height: 50px;
	background: #e83850;
	border-radius: 2px;
	color: white;
	font-size: 19px;
}

.modal_btn_basket {
	height: 25px;
	width: 20px;
	margin-left: 114px;
	background: url(./img/modal_basket.svg) no-repeat right;
}
